<div class="container">
    <h1 class="title">Conditions Générales De Ventes</h1>
    <div class="flex-grid">
        <section class="col main">
            <h2 class="title2">Titre 1</h2>
            <p>coucoucoucou coucoucoucou coucoucoucou coucoucoucou coucou coucoucoucou coucoucoucoucoucou coucoucoucou coucou</p>
    
            <p>coucoucoucou coucoucoucou coucoucoucou coucoucoucou coucou coucoucoucou coucoucoucoucoucou coucoucoucou coucou</p>
            <p>coucoucoucou coucoucoucou coucoucoucou coucoucoucou coucou coucoucoucou coucoucoucoucoucou coucoucoucou coucou</p>
            <p>coucoucoucou coucoucoucou coucoucoucou coucoucoucou coucou coucoucoucou coucoucoucoucoucou coucoucoucou coucou</p>
            <p>coucoucoucou coucoucoucou coucoucoucou coucoucoucou coucou coucoucoucou coucoucoucoucoucou coucoucoucou coucou</p>
          </section>
        </div>
        <div class="flex-grid">
            <section class="col main">
              <h2 class="title2">Titre 2</h2>
              <p>coucoucoucou coucoucoucou coucoucoucou coucoucoucou coucou coucoucoucou coucoucoucoucoucou coucoucoucou coucou</p>
      
              <p>coucoucoucou coucoucoucou coucoucoucou coucoucoucou coucou coucoucoucou coucoucoucoucoucou coucoucoucou coucou</p>
              <p>coucoucoucou coucoucoucou coucoucoucou coucoucoucou coucou coucoucoucou coucoucoucoucoucou coucoucoucou coucou</p>
              <p>coucoucoucou coucoucoucou coucoucoucou coucoucoucou coucou coucoucoucou coucoucoucoucoucou coucoucoucou coucou</p>
              <p>coucoucoucou coucoucoucou coucoucoucou coucoucoucou coucou coucoucoucou coucoucoucoucoucou coucoucoucou coucou</p>
            </section>
          </div>
          <div class="flex-grid">
              <section class="col main">
                <h2 class="title2">Titre 3</h2>
                <p>coucoucoucou coucoucoucou coucoucoucou coucoucoucou coucou coucoucoucou coucoucoucoucoucou coucoucoucou coucou</p>
        
                <p>coucoucoucou coucoucoucou coucoucoucou coucoucoucou coucou coucoucoucou coucoucoucoucoucou coucoucoucou coucou</p>
                <p>coucoucoucou coucoucoucou coucoucoucou coucoucoucou coucou coucoucoucou coucoucoucoucoucou coucoucoucou coucou</p>
                <p>coucoucoucou coucoucoucou coucoucoucou coucoucoucou coucou coucoucoucou coucoucoucoucoucou coucoucoucou coucou</p>
                <p>coucoucoucou coucoucoucou coucoucoucou coucoucoucou coucou coucoucoucou coucoucoucoucoucou coucoucoucou coucou</p>
              </section>
    </div>
  </div>