
p {
    color: black;
  }
  
  .flex-grid {
    color: white;
    display: flex;
    margin: auto -1rem 1rem;
  }
  
  .col {
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,.05);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
  }
  
  .main {
    flex: 3;
  }

  .title{
    text-align:center;
    font-size: 28px;
    font: 700 25px/1.35 sans-serif;
  }
  .title:after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    margin: 10px auto 0;
    background: #45aaf2;
}

.title2{
  font-size: 20px;
  font-weight: 700;
  color: #45aaf2;
  text-align: center;
}


h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.tabs {
  margin-top: 25px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px #45aaf2;
}

.tab {
  width: 100%;
  color: black;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: white;
  border: 1px solid #45aaf2;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: linear-gradient(to bottom right, #be2edd, #45aaf2);
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all .35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: linear-gradient(to bottom right, #45aaf2, #be2edd);
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
