<div class="container">
    <h1 class="title">Foire aux questions</h1>
    <div class="flex-grid">
      <section class="col main" style="background:none;box-shadow: none;">
<div class="row">
  <div class="col">
      <h2 class="title2">Questions générales</h2>
      <div class="tabs">
      <div class="tab">
        <input type="checkbox" id="chck1">
        <label class="tab-label" for="chck1">Item 1</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck2">
        <label class="tab-label" for="chck2">Item 2</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
        </div>
      </div>
      <div class="tab">
          <input type="checkbox" id="chck3">
          <label class="tab-label" for="chck3">Item 3</label>
          <div class="tab-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
          </div>
        </div>
       
          <div class="tab">
              <input type="checkbox" id="chck4">
              <label class="tab-label" for="chck4">Item 4</label>
              <div class="tab-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
              </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="chck5">
                <label class="tab-label" for="chck5">Item 5</label>
                <div class="tab-content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                </div>
              </div>
    </div>
    
  </div>
 
</div>

      </section>
      
    </div>
    <div class="flex-grid">
        <section class="col main" style="background:none;box-shadow: none;">
  <div class="row">
    <div class="col">
        <h2 class="title2">Questions relatives à votre compte/profil</h2>
        <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck6">
          <label class="tab-label" for="chck6">Item 6</label>
          <div class="tab-content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck7">
          <label class="tab-label" for="chck7">Item 7</label>
          <div class="tab-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
          </div>
        </div>
        <div class="tab">
            <input type="checkbox" id="chck8">
            <label class="tab-label" for="chck8">Item 8</label>
            <div class="tab-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
            </div>
          </div>
         
            <div class="tab">
                <input type="checkbox" id="chck9">
                <label class="tab-label" for="chck9">Item 9</label>
                <div class="tab-content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                </div>
              </div>
              <div class="tab">
                  <input type="checkbox" id="chck10">
                  <label class="tab-label" for="chck10">Item 10</label>
                  <div class="tab-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                  </div>
                </div>
      </div>
      
    </div>
   
  </div>
  
        </section>
        
      </div>
      <div class="flex-grid">
          <section class="col main" style="background:none;box-shadow: none;">
    <div class="row">
      <div class="col">
          <h2 class="title2">Questions relatives à votre compte/profil</h2>
          <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck11">
            <label class="tab-label" for="chck11">Item 11</label>
            <div class="tab-content">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck12">
            <label class="tab-label" for="chck12">Item 12</label>
            <div class="tab-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
            </div>
          </div>
          <div class="tab">
              <input type="checkbox" id="chck13">
              <label class="tab-label" for="chck13">Item 13</label>
              <div class="tab-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
              </div>
            </div>
           
              <div class="tab">
                  <input type="checkbox" id="chck14">
                  <label class="tab-label" for="chck14">Item 14</label>
                  <div class="tab-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                  </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck15">
                    <label class="tab-label" for="chck15">Item 15</label>
                    <div class="tab-content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                    </div>
                  </div>
        </div>
        
      </div>
     
    </div>
    
          </section>
          
        </div>
  </div>