<!-- Card -->
<div class="card testimonial-card">

  <!-- Background color -->
  <div class="card-up indigo lighten-1"></div>

  <!-- Avatar -->
  <div class="avatar mx-auto white">
    <img src="../../../assets/photo-profil.png" class="rounded-circle" alt="woman avatar">
  </div>

  <!-- Content -->
  <div class="card-body">
    <!-- Name -->
    <h4 class="card-title">Nicolas PERON</h4>
    <hr>
    <!-- Quotation -->
    <i class="fas fa-quote-left"></i>
    <div id="col">
          <ul>
              <li>Prono : <br> 0 </li>
              <li>ROI : <br> 0%</li>
              <li>Abonné : <br> 0</li>
          </ul>        
      </div>
  </div>

</div>
<!-- Card -->
<button type="button" class="btn btn-primary btn-lg btn-block">Mes pronostics en cours</button>
